# Images sous droit d'auteur — non redistribuées dans ce dépôt public.
# Sources, licences et mode d'obtention : voir CREDITS.md.
# À re-télécharger localement pour compiler les slides.
corfee-morlot.jpg
oecd-cover.png
oxfam-cover.png
